* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Gabarito', 'sans-serif';
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    gap: 15px;
    align-items: center;
    position: sticky;
    top:0px;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title {
    color: #A435F0;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s4{
    display:none;
}

.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__pop{
    position: absolute;
    background-color: white;
    width: 200px;
    top:30px;
    padding: 10px;
    right: 0px;
    display: none;
    border-radius: 10px;
    box-shadow: rgba(217, 184, 184, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.mylearning:hover .mylearning__pop{
    display: block;
}
.mylearning__pop .btn1{
    padding: 5px;
    background-color: violet;
    border: none;
    border-radius: 5px;
    margin-top : 20px;
}

.categories {
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    padding: 10px;
    cursor: pointer;
}

.categories p {
    background-color: #A435F0;
    border-radius: 30px;
    padding: 10px;
    color: white;
    border: solid violet 1px;
}

.categories p:hover{
    transition: 1s;
    background-color: #bf89e3;
    color: black;
    border: solid violet 1px;
}

.student-image img {
    width: 100%;
    height: auto;
    display: block;
}
.student-image{
    position: relative;
}

.student-image__offer{
    background-color: white;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 10%;
    box-shadow: rgba(0,0,0,0.16) 0px 10px 36px;
    animation-name: zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.student-image__offer h1{
    margin-bottom: 5px;
}

.student-image__offer button{
    padding: 5px;
    background-color: violet;
    border: none;
    border-radius: 5px;
    margin-top : 10px;
}

.recommended {
    padding: 10px;
}

.recommended__container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.course_card {
    flex-grow: 1;
    flex-basis : 20%;
    margin: 10px;
}

.course_card img {
    width: 100%;
    height: 60%;
}


.topics {
    padding: 10px;
    margin-top: 20px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.topics__container p {
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one p {
    margin: 20px;
}

.footer__one {
    display: flex;
    gap: 30px;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

@media screen and (max-width:900px){
    body{
        font-size: 10px;
    }    
    .student-image__offer{
        top:20%;
        font-size: 13px;
    }
     .student-image__offer button{
        display: none;
    }
}

@media screen and (max-width:700px) {
    .course_card{
        flex-basis: 40%;
    }
    .categories{
        display: none;
    }
    .navbar__s2,.navbar__s3{
        display: none;
    }
    .navbar__s4{
        display: block;
    }
    .student-image__offer button{
        display: none;
    }
    .student-image__offer h1{
        font-size: 10px;
    }  
    .student-image__offer p{
        font-size: 8px;
    } 
    .student-image__offer{
        top:10%
    }
     
}
